# ignore all the log file
*.log
**/*.log

# ignore the .vscode and .vs directory
.vscode
**/.vscode
.vs
**/.vs

#ignore the .dSYM directory
*.dSYM
**/*.dSYM

#ignore the all the .DS_Store directory
*.DS_Store
**/*.DS_Store

# all the node libery modules folder
**/node_modules


# all the node libery modules folder
**/dist

