html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 4fr 1fr;
}

#titleArea {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  background: #FCE8CC;
}

#contectArea {
  padding: 8px;
  display: grid;
  grid-column-template: (auto, auto);
  grid-row-template: 1fr;
  grid-gap: 0.5em;
  background: #DDFCCC;
}

#controlArea {
  background: #CCEAFC;
}

.master {
  grid-column-start: 1;
  grid-column-end: 2;
}

.detail {
  grid-column-start: 2;
  grid-column-end: 3;
}


table {
  margin: 0.5rem;
  font: Times, medium;
  border-collapse: collapse;
}

thead{
  font: 18px bold;
  background-color: #A67458;
}

th,td {
  border: 2px solid black;
  text-align: center;
  padding: 8px;
  font: Times, medium, bold;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  background-color: #FDF4E7;
}

tr.isSelected {
  background-color: #AAECFC;
}

.hide {
  display: none;
}

#controlTable{
  margin-top: 3.8rem;
}

#note{
  color: red;
  font-style: italic;
}

label {
  margin: 1rem;
  font: 18px bold;
  font-weight: 3em;
  display: inline-block;
}

#textInput {
  
  display: inline-block;
  width: max-content;
}

button {
  background: lightblue;
  border: 2px solid black;
  border-radius: 0.5em;
}

button:hover{
  background: #03A64A;
}

@media (max-width: 300px) {
  #main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, auto);
  }

  table tr td:nth-child(2) {
    display: none;
  }

  table tr td:nth-child(3) {
    display: none;
  }

  table tr td:nth-child(4) {
    display: none;
  }

  table tr td:nth-child(5) {
    display: none;
  }
}
