html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 4fr 1fr;
}

#titleArea {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  background: hsl(350, 92%, 81%);
}

#contectArea {
  padding: 8px;
  display: grid;
  grid-column-template: (auto, auto);
  grid-row-template: 1fr;
  grid-gap: 0.5em;
  background: hsl(60, 92%, 81%);
}

#controlArea {
  background: hsl(310, 87%, 67%);
}

.master {
  grid-column-start: 1;
  grid-column-end: 2;
}

.detail {
  grid-column-start: 2;
  grid-column-end: 3;
}

.input,
.result {
  display: flex;
  justify-content: center;
}

table {
  font: Times, medium;
  border-collapse: collapse;
}

td,
th {
  border: 2px solid green;
  text-align: center;
  padding: 8px;
  font: Times, medium, bold;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.hide {
  display: none;
}

select[multiple] {
  font-size: 18px;
  background: white;
  height: auto;
  padding: 8px;
  margin-left: 1.5em;
  margin-top: -1em;
  border: 2px solid black;
  color: red;
  border-radius: 0.5em;
}

button {
  background: lightblue;
  border: 2px solid blue;
  border-radius: 0.5em;
}

#note{
  color: red;
  font-style: italic;
}

input {
  width: auto;
}

@media (max-width: 300px) {
  #main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, auto);
  }

  table tr td:nth-child(2) {
    display: none;
  }

  table tr td:nth-child(3) {
    display: none;
  }

  table tr td:nth-child(4) {
    display: none;
  }

  table tr td:nth-child(5) {
    display: none;
  }
}
